# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Env
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

/src/generated/prisma
